<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>school data</h1>
        <form method="POST">
            {% csrf_token %}
            <label for="un">username</label>
            <input type="text" name="un">
            <label for="sn">schoolname</label>
            <input type="text" name="sn">
            <label for="sl">schoollaocation</label>
            <input type="text" name="sl">
            <label for="sp">school principal name</label>
            <input type="text" name="sp">
            <input type="submit" value="schooldata">
        </form>
    </center>
</body>
</html>